html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
	min-width:328px; 
}

.home{
	height: 100vh;
	background-color: #222;
	background-image: url(http://karthik-raju.github.io/home/images/cover.png);
	background-position:50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding:0;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
	 z-index:0;
}

.overlay{
	height: 100vh;
	background-image: url(http://karthik-raju.github.io/home/images/pattern.png);
	background-repeat: repeat;
	background-position: 50% 50%;
	position: absolute;
	background-attachment:fixed;
	width: 100%;
	z-index:1;

}

.introduction{
	color:white;
	z-index:2;
	position:relative;
	top: 45%;
	text-align:center;
	padding: 0 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 

}

.introduction h1{
	font-size: 4em;
}

#link-wrapper{
		margin-top:15vh;
}

.scroll-down{
	border:2px solid #fff;
	border-radius: 20px;
	position:relative;
	z-index:3;
	border-radius:50%;
	height:50px;
	width:50px;
	display:block;
	text-align:center;
	margin-left: auto ;
  	margin-right: auto ;
  	text-align: center;
}

.scroll-down span{
	 position: relative;
     color: #fff;
     font-size: 1.6em;
}

#inner{
	top:-15px;
}

.about-me{
	height:100vh;
}

.laptop-wrapper{
	margin-top: 30px;
	margin-left: 30px;
	display:block;
}

/*For iPhone 4 and iPhone5 support*/

@media(max-width:350px) and (orientation:portrait){
	#link-wrapper{
		margin-top:8vh;
	}	

	.introduction h1{
	font-size: 3em;
	}
	
}

@media (max-height:325px) and (orientation:landscape){
	#link-wrapper{
		margin-top:8vh;
	}	

	.introduction{
	 top: 20%;
	}
}
