html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


.home{
	height: 100vh;
	background-color: #222;
	background-image: url(https://raw.githubusercontent.com/karthik-raju/home/gh-pages/images/cover.png);
	background-position:50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding:0;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
	 z-index:0;
}


.top{
	position:absolute;
	z-index:4;
	margin-top:20px;
	margin-right:auto;
	right:20px;

}

.top img{
	margin-left: 20px;
}

.social img{
	width:18px;
}

.bottom{
	text-align: center;
}

.bottom img{
	margin-left: 10px;
	margin-right:10px;
}



.overlay{
	height: 100vh;
	background-image: url(http://karthik-raju.github.io/home/images/pattern.png);
	background-repeat: repeat;
	background-position: 50% 50%;
	position: absolute;
	background-attachment:fixed;
	width: 100%;
	z-index:1;

}

.introduction{
	color:white;
	z-index:2;
	position:relative;
	top: 45%;
	text-align:center;
	padding: 0 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 

}

.introduction h1{
	font-size: 4em;
}

#link-wrapper{
		margin-top:11vh;
}

.scroll-down{
	border:2px solid #fff;
	border-radius: 20px;
	position:relative;
	z-index:3;
	border-radius:50%;
	height:50px;
	width:50px;
	display:block;
	text-align:center;
	margin-left: auto ;
  	margin-right: auto ;
  	text-align: center;
}

.scroll-down span{
	 position: relative;
     color: #fff;
     font-size: 1.6em;
}

#inner{
	top:-15px;
}

.about-me{
	height:auto;
}

.laptop-wrapper{
	margin-top: 50px;
	display:block;
}

.top-border{
	width:100%;
	height:10vh;
	position:relative;
	background-color: white;
}

.cursor{
	margin-left: -0.4vw;
}

#version{
	visibility: hidden;
}

#third-line{
	visibility:hidden;
}

#fourth-line{
	visibility: hidden;
}

#spacer-line{
	visibility: hidden;
}

.greeting{
	visibility: hidden;
}

.intro-text{
	float:left;
}

.separation-bar{
	width:100%;
	height:50px;
	padding: 15px 15px;
	background-color: white;
	-moz-box-shadow:    0px 0.5px 11px -0.5px #ccc;
  	-webkit-box-shadow: 0px 0.5px 11px -0.5px #ccc;
  	-o-box-shadow:		0px 0.5px 11px -0.5px #ccc;
  	box-shadow:         0px 0.5px 11px -0.5px #ccc;
} 

.banner{
	display:block;
	width: 210px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}
.banner h2{
	text-align: center;
	float:right;
	margin-top: 15px;
}

.content-wrapper{
	margin-top: 50px;
	width:90%;
	margin-left: auto;
	margin-right:auto;
}

.content-wrapper h1{
	font-weight:300;
	letter-spacing: 4px;
	margin-bottom: 30px;
	margin-left: 7%;
}

.content-wrapper h3{
	font-weight: 100;
	font-size: 2em;
	margin-bottom: 30px;
	margin-left: 15%;
	margin-right: %;
}

.row{
	margin-bottom: 6vw;
}

.row img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	display:block;
	width:15vw;
	opacity:0.9;
}

.row img:hover{
	opacity:1;
}

.arrow-container{
	width:3.5vw;
	height:3.5vw;
	position:fixed;
	z-index: 6;
	background-color: #4F4F4F;
	border-radius: 1vw;
	opacity: .7;
	margin-left: 92vw;
	margin-top: 85vh;
}

.arrow{
	display:block;
	height:0px;
	width:0px;
	position:fixed;
	border-left: 1vw solid transparent;
	border-right:1vw solid transparent;
	border-bottom: 1.5vw solid white;
	opacity: .9;
}

/*media queries for shrinking/mobile*/

@media(min-width: 660px){
	.content-wrapper h1{
	font-size: 3em;
	}
}

@media(min-width: 586px) and (max-width: 660px){
		.content-wrapper h1{
		font-size: 2.5em;
		}
		.content-wrapper h3{
		font-size: 1.5em;
		}

}

@media(min-width: 506px) and (max-width: 586px){
		.content-wrapper h1{
		font-size: 2em;
		}
		.content-wrapper h3{
		font-size: 1em;
		}
}
@media(max-width: 506px){
	.content-wrapper h1{
		font-size: 1.28em;
		font-weight: 400;
		}
		.content-wrapper h3{
		font-size: .28em;
		}
}
/*For iPhone 4 and iPhone5 support*/

@media(max-width:350px) and (orientation:portrait){
	#link-wrapper{
		margin-top:8vh;
	}	

	.introduction h1{
	font-size: 3em;
	}
	
}

@media (max-height:325px) and (orientation:landscape){
	#link-wrapper{
		margin-top:8vh;
	}	

	.introduction{
	 top: 20%;
	}
}     
