.home{
	height: 100vh;
	background-color: #222;
	background-image: url(cover.png);
	background-position:50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding:0;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
	 z-index:0;
}

.overlay{
	height: 100vh;
	background-image: url(pattern.png);
	background-repeat: repeat;
	background-position: 50% 50%;
	position: absolute;
	background-attachment:fixed;
	width: 100%;
	z-index:1;

}

.introduction{
	color:white;
	z-index:2;
	position:relative;
	top: 45%;
	text-align:center;
	padding: 0 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

.scroll-down{
	border:2px solid #fff;
	border-radius: 20px;
	position:relative;
	z-index:3;
	top:60%;
	border-radius:50%;
	height:50px;
	width:50px;
	display:block;
	text-align:center;
	margin-left: auto ;
  	margin-right: auto ;
  	text-align: center;
}

.scroll-down span{
	 position: relative;
     color: #fff;
     font-size: 35px;
}

#inner{
	top:-22px;
}

